$primary-color: beige;
$grey: #aaa;
$light-grey: #eee;
$size: 4px;

body {
  width: 100 * $size;
  margin: 4 * $size;
  font-family: 'Kosugi Maru', 'Meiryo', sans-serif;
  font-size: 4 * $size;
}

input {
  border: none;
  padding: 2 * $size 0;
  outline: none;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6 * $size;
}

.title {
  margin: 0;
  font-size: 1.6rem;
}

.config-container {
  display: flex;
  flex-direction: column;
  gap: 2 * $size;
}

.config-title-container {
  display: flex;
  align-items: center;
  gap: 2 * $size;
  margin-bottom: 2 * $size;
  font-size: 1.2rem;
  cursor: pointer;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 2 * $size;
}

.inline-form {
  display: flex;
  gap: 4 * $size;
  border: solid 1px $grey;
  border-radius: 2 * $size;
  background-color: $light-grey;
  padding: 0 2 * $size;
  input {
    flex-grow: 1;
  }

  transition: background-color 0.4s;
  &:focus-within {
    background-color: transparent;
  }
}
