$primary-color: #e0f080;
$active-color: #f0fff0;
$grey: #aaa;
$light-grey: #eee;
$white-grey: #f7f7f7;
$size: 4px;
$page-width: 960px;

body {
  width: $page-width;
  margin: 8 * $size auto;
  font-family: 'Kosugi Maru', 'Meiryo', sans-serif;
  font-size: 4 * $size;
}

input {
  border: none;
  padding: 2 * $size 0;
  outline: none;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6 * $size;
}

.title {
  margin: 0;
  font-size: 1.6rem;
}

.config-container {
  display: flex;
  flex-direction: column;
  gap: 4 * $size;
  padding: 4 * $size;
  border-radius: 4 * $size;
  transition: background-color 0.4s;

  &.active {
    background-color: $active-color;
  }

  &.inactive {
    background-color: $white-grey;
  }
}

.config-title-container {
  display: flex;
  align-items: center;
  gap: 2 * $size;
  font-size: 1.2rem;
  cursor: pointer;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 2 * $size;
}

.inline-form {
  display: flex;
  gap: 4 * $size;
  border: solid 1px $grey;
  border-radius: 2 * $size;
  background-color: $light-grey;
  padding: 0 2 * $size;
  input {
    flex-grow: 1;
  }

  transition: background-color 0.4s;
  &:focus-within {
    background-color: white;
  }
}
